apiVersion: acid.zalan.do/v1
kind: postgresql
metadata:
  {{- with .Values.labels }}
  labels: {{ . | toYaml | nindent 4}}
  {{- end }}
  {{- with .Values.annotations  }}
  annotations: {{ . | toYaml | nindent 4 }}
  {{- end }}  
  name: {{ include "postgres.name" . }}
  namespace: {{ .Values.namespace | default .Release.Namespace }}
spec:
  {{- if .Values.databases }}  
  databases: {{ .Values.databases | toYaml | nindent 4 }}
  {{- end }}
  enableConnectionPooler: {{ .Values.enableConnectionPooler }}
  enableMasterLoadBalancer: {{ .Values.enableMasterLoadBalancer }}
  numberOfInstances: {{ .Values.numberOfInstances }}
  {{- if .Values.patroni }}
  patroni: {{ .Values.patroni | toYaml | nindent 4 }}
  {{- end }}
  postgresql:
    version: '{{ .Values.version }}'
  {{- with .Values.resources }}
  resources: {{ .Values.resources | toYaml | nindent 4 }}
  {{- end }}
  teamId: acid
  {{- if .Values.users }}  
  users: {{ .Values.users | toYaml | nindent 4 }}
  {{- end }}
  {{- if .Values.tls }}  
  tls: {{ .Values.tls | toYaml | nindent 4 }}
  {{- end }}
  {{- if .Values.spilo }}  
  {{ .Values.spilo | toYaml | nindent 2 }}
  {{- end }}
  volume:
    iops: 3000
    size: {{ .Values.volumeSize }}
    throughput: 125
    storageClass: {{ .Values.storageClass }}